* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: Lato;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.wrapper {
  font-family: Lato;
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
  // .main-screen__background
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("title_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  @media (max-width: 980px) {
    &__background {
      background: #4d4959;
    }
  }

}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
  // .header__row
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
  }

  // .header__menu
  &__menu {

  }

  // .header__logo
  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
  }

  @media (max-width: 980px) {
    top: 15px;
  }
}

.menu {
  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {

  }

  // .menu__list
  &__list {
    display: flex;

    li {
      position: relative;
      padding: 0 37.5px;

      &:nth-child(2) {
        padding: 0 110px 0 37.5px;
      }

      &:nth-child(3) {
        padding: 0 37.5px 0 110px;
      }

      &:after {
        content: '';
        width: 2px;
        height: 2px;
        background-color: #4d4959;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -1px 0 0 0;
      }

      &:nth-child(2), &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  // .menu__link
  &__link {
    font-size: 13px;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    color: #4d4959;
  }

  @media (max-width: 980px) {
    &__link {
      color: white;
      font-size: 20px;
    }
    &__body {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 150px 0 20px 0;
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;

      li {
        padding: 0 0 45px 0;

        &:nth-child(2), &:nth-child(3) {
          padding: 0 0 45px 0;
        }

        &:after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: white;
          right: 50%;
          top: 40px;
          margin: 0 -2px 0 0;
          z-index: 6;
        }

        &:nth-child(2) {
          &:after {
            display: block;
          }
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}


.icon-menu {
}


//============================================================================>
.content {
}

//============================================================================>
.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
  @media (max-width: 980px) {
    padding: 80px 0;
  }
  @media (max-width: 700px) {
    padding: 30px 0;
  }

  // .generation__block
  &__block {

  }
}

//============================================================================>
.block {
  text-align: center;
  // .block__icon
  &__icon {
    margin: 0 0 30px 0;
  }

  // .block__title
  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin: 0 0 18px 0;
  }

  // .block__text
  &__text {
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    // .block__text_j
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;

      &:after {
        content: '';
        display: block;
        margin: 35px auto 0 auto;

        width: 50px;
        height: 1px;
        background-color: #ebebeb;
      }
    }
  }

  @media (max-width: 1500px) {
    &__text {
      &_j {
        &:after {
          margin: 15px auto 0 auto;
        }
      }
    }
  }
}

//============================================================================>


.brands {
  // .brands_rev
  &_rev {
    flex-direction: row-reverse;
  }

  // .brands_last
  &_last {
  }

  // .brands__row
  &__row {
    display: flex;

  }

  // .brands__column
  &__column {
    flex: 0 1 33.333%;
    // .brands__column_b
    &_b {
      flex: 0 1 66.667%;
    }
  }

  // .brands__item
  &__item {

  }

  // .brands__content
  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 0;
      margin: 0 0 0 -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ffffff;

    }
  }

  // .brands__image
  &__image {
    padding: 0 0 37.51% 0;
    background: url("Img 02.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  // .brands__image2
  &__image2 {
    padding: 0 0 37.51% 0;
    background: url("Img 02 small.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  // .brands__image3
  &__image3 {
    padding: 0 0 37.51% 0;
    background: url("Img 3centrbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 1500px) {
    &__content {
      padding: 40px 35px 30px 35px;
    }
  }
  @media (max-width: 1100px) {
    &__row {
      flex-direction: column;
    }
    &_last {
      .brands__column {
        &:nth-child(1) {
          order: 2;
        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {
          order: 3;
        }
      }
    }
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
  // .item__logo
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;

    span {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      margin: 10px 0 0 0;
    }
  }

  @keyframes visable {
    from {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    .item__logo {
      animation-duration: 0.3s;
      animation-name: visable;
      opacity: 1;
      visibility: visible;
    }
  }

  // .item__image
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("item2_img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image2
  &__image2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("Img 2 bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image3
  &__image3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("Img 3leftbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image4
  &__image4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("Img 02rightbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image5
  &__image5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image6
  &__image6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image7
  &__image7 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image8
  &__image8 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 04.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image9
  &__image9 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 05.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image10
  &__image10 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 06.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image11
  &__image11 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 07.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .item__image12
  &__image12 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("shop/Img 08.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  //============================================================================>
  @media (max-width: 1100px) {
    height: auto;
    padding: 0 0 70% 0;
  }

}

//============================================================================>


.slider {
  background-color: #f7f7f7;
  padding: 120px 0;
  // .slider__body
  &__body {
  }

  // .slider__item
  &__item {
    text-align: center;
  }

  // .slider__icon
  &__icon {
    margin: 0 0 35px 0;
  }

  // .slider__title
  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;

    span {
      color: #848789;
      font-weight: 300;
    }
  }

  // .slider__text
  &__text {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
  }
}

//============================================================================>

.shop {
  // .shop__body
  &__body {
    display: flex;
  }

  // .shop__column
  &__column {
    flex: 0 1 16.666%;
    // .shop__column_b
    &_b {
      flex: 0 1 33.333%;
    }
  }

  // .shop__block
  &__block {
  }

  // .shop__footer
  &__footer {
    padding: 75px 0;
    text-align: center;
    background-color: #282f35;
  }

  // .shop__btn
  &__btn {
    display: inline-block;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.49);
    line-height: 48px;
    letter-spacing: 2.8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 0 60px;
  }

  @media (max-width: 1100px) {
    &__btn {
      padding: 0 30px;
    }
    &__footer {
      padding: 50px 0;
    }

    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;

      &_b {
        flex: 0 1 33.333%;
      }

      &:first-child {
        flex: 1 1 100%;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }
}

.block-shop {
  height: 100%;
  // .block-shop__row
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  // .block-shop__column
  &__column {
    flex: 0 1 50%;
    // .block-shop__column_b
    &_b {
      flex: 0 1 100%;
    }
  }

  // .block-shop__item
  &__item {
    height: auto;
    padding: 0 0 50% 0;
    // .block-shop__item_l
    &_l {
      padding: 0 0 100% 0;
    }

    // .block-shop__item_b
    &_b {
      padding: 0 0 200.5% 0;
    }
  }
}

//============================================================================>

.subscribe {
  // .subscribe__body
  &__body {
    padding: 110px 0;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }

  // .subscribe__logo
  &__logo {
    margin: 0 0 39px 0;
  }

  // .subscribe__label
  &__label {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    margin: 0 0 35px 0;
  }

  // .subscribe__form
  &__form {
    display: flex;
  }

  // .subscribe__input
  &__input {
    flex: 1 1 auto;
    padding: 0 8px 0 0;

    input {
      width: 100%;
      height: 69px;
      background-color: #ffffff;
      border: 1px solid #d3d7d9;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      font-style: italic;
      color: #929292;
      padding: 0 28px;

      &:focus {
        font-style: normal;
        color: #333;
      }
    }
  }

  // .subscribe__button
  &__button {
    flex: 0 0 126px;
  }

  // .subscribe__btn
  &__btn {
    width: 100%;
    height: 69px;
    background-color: #64c29e;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
  }

  @media (max-width: 750px) {
    &__body {
      padding: 50px 0;
    }
  }

  @media (max-width: 500px) {
    &__form {
      display: block;
    }

    &__input {
      padding: 0 0 8px 0;
    }
  }
}

//============================================================================>

.footer {
  background-color: #f7f7f7;

  // .footer__row
  &__row {
    display: flex;
    padding: 100px 0;
    align-items: center;
  }

  // .footer__column
  &__column {
    flex: 0 1 33.333%;
  }

  // .footer__address
  &__address {
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;

    p {
      &:first-child {
        font-size: 16px;
        line-height: 17px;
        font-weight: 700;
        color: #848789;
      }
    }
  }

  // .footer__social
  &__social {
  }

  // .footer__dev
  &__dev {
  }

  @media (max-width: 1300px) {
    &__row {
      padding: 50px 0;
    }
  }

  @media (max-width: 600px) {
    &__address {
      padding: 0;
    }
    &__row {
      padding: 20px 0;
      flex-direction: column;
      text-align: center;
    }
    &__social {
      margin: 15px 0;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  // .social__link
  &__link {
    margin: 0 7.5px;
  }
}

.dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // .dev__text
  &__text {
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding: 0 9px 0 0;
  }

  // .dev__icon
  &__icon {
  }
}