/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.example-block-div1 {
    width: 611px;
    margin: 53px 50px 33px 50px;
}
.example-string-span1 {
    display: block;
    margin-left: 50px;
}
.example-block-div2 {
    margin: 53px 50px 33px 50px;
    width: 1165px;
    height: 86px;
}

.example-block-div3 {
    display: inline-block;
    margin-right: 42px;
    margin-left: 50px;
}
.example-block-p1 {
    display: inline;
}

.span1 {
    display: inline-block;
    width: 503px;
    height: 14px;
    margin: 35px 42px 37px 50px;
}

.a1 {

}

.span2 {
    display: block;
    height: 111px;
    margin-left: 50px;
    margin-top: 35px;
}